@import "tailwindcss";
/* styles/globals.css */

/* Use system fonts like Facebook's */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.swiper-slide {
  width: 170px !important;
  height: 290px !important;
  margin-right: 13px !important;
  border-radius: 20px;
  padding: 1rem;
  background-color: gray;
}
